*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

:root {
    --grey-50: #F9FAFB;
    --grey-200: #E5E7EB;
    --grey-300: #D1D5DB;
    --grey-500: #6B7280;
    --grey-700: #374151;
    --grey-900: #111827;
    --content-x-padding: 2.5rem;
}

.hidden {
    display: none !important;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 550px;
    margin: 0 auto;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url("./images/hero.jpg");
    background-color: #444;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -158px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--content-x-padding);
}

main {
    --content-y-padding: 4rem;
    padding: var(--content-y-padding) var(--content-x-padding);
    flex-grow: 1;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.75rem;
    font-weight: 800;
    color: whitesmoke;
}

nav > ul {
    list-style: none;
}

nav > ul > li > a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
}

/*****************
* SEARCH SECTION *
******************/
#search-section {
    position: absolute;
    transform: translateY(calc(-50% - var(--content-y-padding)));
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - var(--content-x-padding) * 2);
}

.search-form {
    display: flex;
    width: 100%;
}

.search-input-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: white;
    border-radius: 6px 0 0 6px;
    border: 1px solid var( --grey-300);
}

.search-icon {
    width: 16px;
    height: 16px;
    margin: 0 10px;
    color: var(--grey-500);
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    color: var(--grey-500);
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: var(--grey-500);
}

.search-button {
    color: var(--grey-700);
    padding: 8px 32px;
    border: 1px solid var(--grey-300);
    border-left: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--grey-50);
    cursor: pointer;
}

/*****************
* RESULT SECTION *
******************/
#results-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.results-section-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #DFDDDD;
    gap: 0.5rem;
    font-weight: 700;
}

.results-section-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1.25rem;
    padding: 1.25rem 0;
}

.results-section-card:not(:last-child) {
    border-bottom: 1px solid var(--grey-200);
}

.results-section-card-poster-container {
    border-radius: 3px;
    width: 100px;
    height: 150px;
    overflow: hidden;
}

.results-section-card-poster-container img {
    width: 100%;
}

.result-section-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
}
.result-section-card-title-rating-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.result-section-card-title {
    font-weight: 600;
}

.result-section-card-rating {
    font-size: 0.75rem;
}

.result-section-card-duration-genre-btn-container {
    font-size: 0.75rem;
    display: flex;
    gap: 1.25rem;
}
.add-to-watchlist-button {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    color: var(--grey-900);
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
}
.result-section-card-plot {
    color: var(--grey-500);
    font-size: 0.875rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}